@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Poppins';
}

img,
picture,
video,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

iframe {
    max-width: 100%;
    /* Limits width to 100% of container */
    width: 100vw;
    /* Sets width to 100% of the viewport width while respecting the max-width above */
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,
input,
textarea,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}